.select {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25em;
}
.select select {
  font-family: "Roboto Mono", Courier, monospace;
  font-weight: 400;
  font-size: 15px;
  cursor: pointer;
  padding-left: 15px;
  height: 41px;
  border: none;
  border-radius: var(--radius);
  color: white;
  background-color: var(--lightest-grey);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-overflow: ellipsis;
  outline: 0;
}
.select select::-ms-expand {
  display: none;
}
.select select:hover,
.select select:focus {
  outline: 0;
}
.select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.select_arrow {
  position: absolute;
  top: 16px;
  right: 16px;
  pointer-events: none;
  border-style: solid;
  border-width: 11px 7px 0px 8px;
  border-color: white transparent transparent transparent;
}

/* v2 */
.verticalCenter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 3px;
}
