.container {
  justify-content: space-between;
  width: 100%;
  transition: background-color 0.5s;
  /* height: 24px; */
  color: white;
  background-color: black;
  font-size: 10px;
  display: flex;
}

.container > span {
  display: inline-block;
}

.serviceTitles {
  height: 100%;
  width: 50px;
  display: flex;
  flex-direction: column;
}
.serviceTitle {
  flex: 1;
  padding-right: 0.4em;
  margin-left: auto;
}

.services {
  /* margin-top: 1px;
  margin-bottom: 1px;
  line-height: 14px;
  font-size: 1em;
  font-weight: 400;
  float: right; */
  height: 100%;
  width: 50px;
  display: flex;
  flex-direction: column;
}

.service {
  flex: 1;
}

.subservice {
  display: inline-block;
  background-color: black;
  color: #dddddd;
  padding-left: 0.4em;
}
.subserviceLast {
  padding-right: 0.4em;
}

.status {
  width: 13px;
  min-height: 10px;
  display: inline-block;
  margin-left: 0.1em;
  padding-right: 0.4em;

  background-size: 15px 15px;
  background-repeat: no-repeat;

  background-position: center;
}

.loading {
  background-size: 10px 10px;
  background-image: url(/images/icon_status_loading.svg);
}

.noError {
  background-size: 10px 10px;
  background-image: url(/images/icon_status_check_green.svg);
}

.error {
  background-size: 10px 10px;
  background-image: url(/images/icon_status_issue.svg);
  background-position: center;
}

.unneeded {
  background-size: 10px 10px;
  background-image: url(/images/icon_status_no_assets.svg);
}

.stale {
  background-size: 10px 10px;
  background-image: url(/images/icon_status_check_yellow.svg);
}
