

#
# ENV vars for nginx
#
DOCKER_HOST_SSL_CERTS_DIR=${DOCKER_HOST_SSL_CERTS_DIR}
DOCKER_HOST_SSL_PRIVATE_DIR=${DOCKER_HOST_SSL_PRIVATE_DIR}
DOCKER_HOST_HTTP_STATIC_DIR=${DOCKER_HOST_HTTP_STATIC_DIR}


# You probably don't want to change this away from "development"
#
# "development" for normal dev work, "local" to mock some services. Code seems to only look for
# whether this is set to "local" or not, so could be "local" or anything else.
NEXT_PUBLIC_APP_ENV=development

# Unlikely these ever need to change
IO_API_URL=https://io.jsc.nasa.gov/api/search/rpp=500
IO_HOST=https://io.jsc.nasa.gov
WIKI_BASE_URL=https://wiki.jsc.nasa.gov
DEFAULT_CACHE_AGE=300

# Varies based on fit, local, or running tests on GitLab
CACHE_ROOT=${CACHE_ROOT}

# Although this would seem to change between envs, it is only the origin
# header passed along with IO requests, and it is simpler to just always
# use coda.fit.nasa.gov to remove variance. We should rename this var to
# something like "IO_REQUEST_ORIGIN_HEADER" or something.
HOST=https://coda.fit.nasa.gov

# Optional for local dev only?
IO_MOCK_MEDIA_URL=https://coda-data.apolloinrealtime.org/mocks/

#
# ENV vars regarding docker image naming and versioning
#
# Registry to use to get the images, if you were to pull from the registry (not likely during local
# dev, is done by FIT server itself).
REGISTRY_IMAGE=eegitlabregistry.fit.nasa.gov/emss/coda
# Used to mark images as -dev or -latest. These don't matter too much, except that when
# GitLab builds images that are meant to be pulled onto FIT servers, it marks them
# as -latest. For local builds it marks -dev. During pipelines on GitLab that are NOT on the main
# branch, they're marked -dev, too, so locally you COULD pull just -dev images from GitLab using
# "docker compose up -d" (you'd need to authenticate with GitLab)
IMAGE_VERSION=${IMAGE_VERSION}

#
# !!!! SENSITIVE DATA !!!!
#
# The following env vars are sensitive! Do not send them to anyone who doesn't need them
# If sending them to someone who does need them, send via encrypted email.
#
# If you need values, request from CODA developers or copy from GitLab CI/CD variables. These values
# will be stored in .env.secret so make-dotenv.sh can reuse them.
#
IO_KEY=${IO_KEY}
WIKI_USER=${WIKI_USER}
WIKI_PASSWORD=${WIKI_PASSWORD}
SPACETRACK_USER=${SPACETRACK_USER}
SPACETRACK_PASSWORD=${SPACETRACK_PASSWORD}
NEXT_PUBLIC_MAPBOX_KEY=${NEXT_PUBLIC_MAPBOX_KEY}
TOPO_USER=${TOPO_USER}
TOPO_PASSWORD=${TOPO_PASSWORD}
#
# !!!! END SENSITIVE DATA !!!!
#