# macos
.DS_Store

# javascript
node_modules/

# nextjs
.next/
out/

# production
dist/

# local cache
.cache*

# don't commit secrets!
.env.local

# NOCA cert required to hit wiki and IO. See README.md
.env.local.cert.pem
