* {
  font-family: "Inter", sans-serif;
  font-feature-settings: "tnum"; /* mono-spaced digits */
}

body {
  background-color: #3e3b44;
  /* overflow-x: hidden; */
  margin: 0;
  color: #ffffff;
}

p {
  margin-top: 0;
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}

a {
  color: white;
  text-decoration: none;
}
