.main {
  position: relative;
  height: 0;
  width: 100%;
  min-height: 100%;
  overflow: auto;
  background-color: var(--nearly-black);
  overflow: auto;
}

.dataTable {
  font-size: 0.8em;
  background: rgb(15, 15, 15, 0.8);
  border-radius: 10px;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

.dataTable a {
  text-decoration: underline;
}

.dataTable tr {
  border-bottom: 2px solid rgba(150, 150, 150, 0.5);
}

.dataTable td:first-child {
  text-align: right;
  width: 80px;
  white-space: nowrap;
  border-right: 2px solid rgba(150, 150, 150, 0.5);
}

.dataTable th {
  text-align: "center";
  font-weight: 300;
  width: 50%;
}

.dataTable td {
  display: table-cell;
  vertical-align: top;
  font-weight: 200;
  padding: 8px;
  border-bottom: 2px solid rgba(150, 150, 150, 0.5);
}
.dataTable tr:last-child td {
  border-bottom: none;
}
.dataTable .tdNoBottomBorder {
  border-bottom: none;
}
.dataTable .tdBorderTop {
  border-top: 2px solid rgba(150, 150, 150, 0.5);
}

.dataTable .digiValue {
  font-family: "Ubuntu Mono";
  font-size: 1em;
  white-space: pre-wrap;
  word-break: break-all;
}

.dataTable .labelValue {
  font-weight: 400;
  cursor: pointer;
}

.dataTable .petValue:hover {
  text-decoration: underline;
}

.dataTable .leftPadded {
  padding-left: 4px;
}

/* Div table */
.taskContainer {
  flex: auto;
  display: flex;
  flex-direction: row;
}

.taskTime {
  padding-right: 5px;
  cursor: pointer;
}
.taskTime:hover {
  text-decoration: underline;
}

.taskName {
  white-space: pre-wrap;
  text-align: left;
  font-weight: 400;
  cursor: pointer;
}
.taskName:hover {
  text-decoration: underline;
}

.controls {
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin-left: auto;
}

.controlsLeft {
  display: flex;
}

.verticalCenter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.rightButtons {
  display: flex;
}

.rightButtons > *:not(:last-of-type) {
  margin-right: 10px;
}
