.main {
  position: relative;
  height: 0;
  width: 100%;
  min-height: 100%;
  background-color: var(--nearly-black);
}

.controls {
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin-left: auto;
}

.controlsLeft {
  display: flex;
}

.verticalCenter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.rightButtons {
  display: flex;
}

.rightButtons > *:not(:last-of-type) {
  margin-right: 5px;
}

.photoThumbs {
  display: flex;
  align-content: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.photoThumb {
  flex-grow: 1;
  flex-basis: 80px;
  max-width: 80px;
  /* 78px + 2px margin = 80px height */
  height: 78px;
  margin-bottom: 2px;
  border: 1px solid var(--lighter-grey);
  border-radius: var(--radius);
}

.photoThumb img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.activePhoto {
  border: 1px solid #28b463;
}

/* Lock button */

.lockButton {
  display: block;
  width: 45px;
  height: 18px;
  background-color: var(--even-greyer);
  color: var(--lighter-grey);
  border: none;
  border-radius: var(--radius);
  font-size: 11px;
  font-weight: 600;
  cursor: pointer;
}

.lockButtonSelected {
  border: none;
  background-color: #eeeeee;
  color: var(--lighter-grey);
}

.lockButtonLabel {
  position: relative;
}
