.controls {
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin-left: auto;
}

.main {
  position: relative;
  height: 0;
  width: 100%;
  min-height: 100%;
  background-color: var(--nearly-black);
  display: flex;
  flex-direction: column;
}

.controlsLeft {
  display: flex;
}

.verticalCenter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.rightButtons {
  display: flex;
}

.rightButtons > *:not(:last-of-type) {
  margin-right: 10px;
}

.dlLabel {
  width: 19px;
}

.player {
  display: block;
}
