.main {
  width: 364px;
  height: max-content;
  padding: 14px 20px;
  border-radius: var(--radius);
  background-color: var(--grey);
}

.top {
  display: flex;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.4);
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 13px;
}

.close {
  cursor: pointer;
}

.monthAndYear {
  display: flex;
  justify-content: space-between;
  font-size: 19px;
  margin-bottom: 20px;
}

.days {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 5px;
}

.calendarDate {
  display: flex;
  justify-content: space-around;
  width: 42px;
  height: 37px;
  margin-bottom: 5px;
  border-radius: var(--radius);
  font-size: 19px;
  font-weight: 500;
  cursor: default;
}

.dateCellDayOfMonth {
  align-self: center;
  height: 18px;
}
.dateCellDayOfYear {
  font-size: 0.6em;
  font-weight: 500;
  align-self: center;
}

.clickable {
  cursor: pointer;
}

.dot {
  position: fixed;
  margin-top: -0.3em;
  margin-left: 0.1em;
  cursor: pointer;
}

.dotdiv {
  border-radius: 50%;
  display: inline-block;
  height: 0.6em;
  width: 0.6em;
  vertical-align: middle;
}

.labels {
  font-size: 0.9em;
  margin-bottom: 5px;
}

.orange {
  color: var(--orange);
}

.orangeBkg {
  background-color: var(--orange);
}

.aqua {
  color: var(--aqua);
}

.aquaBkg {
  background-color: var(--aqua);
}

.greyBkg {
  background-color: var(--lighter-grey);
}

.darkerGrayBkg {
  background-color: #3c3e48;
}

.bordered {
  border: 2px solid var(--extremely-grey);
}

.inverted {
  background-color: white;
  color: var(--dark-grey);
}

.greyText {
  color: var(--lighter-grey);
}

.whiteText {
  color: white;
}

.selectableButton {
  cursor: pointer;
  color: var(--dark-grey);
}

.unselectableButton {
  cursor: default;
  color: var(--lighter-grey);
}

.verticalCenter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.monthModal {
  width: 220px;
  height: calc(29px * 8);
  padding: 3px;
  overflow-y: scroll;
  background-color: var(--dark-grey);
  border: 1px solid var(--dark-grey);
  border-radius: var(--radius);
}

.option {
  padding: 5px;
  color: white;
  background-color: var(--dark-grey);
  cursor: pointer;
  border-radius: var(--radius);
}

.option:hover {
  background-color: var(--lightest-grey);
}

.checkbox {
  display: inline-block;
  width: 1em;
}

.thinLine {
  margin-top: 15px;
  border-top: 1px solid var(--lightest-grey);
}

.datePicker {
  display: flex;
  padding-top: 0px;
}

.datePickerInput {
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  background-color: var(--nearly-black);
  border: 1px solid var(--extremely-grey);
  border-radius: 3px;
  color: white;
}

.datePickerButton {
  background-color: var(--even-greyer);
  border-radius: var(--radius);
  border: none;
  width: 50px;
  font-size: large;
}

.datePickerHeader {
  width: max-content;
  white-space: nowrap;
  font-size: 1rem;
  font-weight: normal;
  color: var(--even-greyer);
}

.errorMessageContainer {
  color: var(--highlight-red);
  margin-left: 10px;
  align-items: center;
  display: flex;
}

.datePickerError {
  padding-left: 6px;
  font-size: 0.8em;
  font-weight: normal;
}
