.container {
  justify-content: space-between;
  width: 100%;
  transition: background-color 0.5s;
  /* height: 24px; */
  color: white;
  background-color: black;
  font-size: 10px;
  display: flex;
}

.container > span {
  display: inline-block;
}

.statusGrid {
  width: 100%;
}

.statusRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
}

.statusItem {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 3px;
}

.statusLabel {
  font-weight: 200;
}

.status {
  width: 11px;
  height: 11px;
  min-height: 11px;
  display: block;
  flex-shrink: 0;

  background-size: 11px 11px;
  background-repeat: no-repeat;
  background-position: center;
}

.statusLarge {
  width: 18px;
  min-height: 18px;
  display: inline-block;
  margin-left: 0.1em;
  padding-right: 0.4em;

  background-size: 18px 18px;
  background-repeat: no-repeat;

  background-position: center;
}

.loading {
  background-image: url("/__BASE_URL__/images/icon_status_loading.svg");
}

.noError {
  background-image: url("/__BASE_URL__/images/icon_status_check_green.svg");
}

.error {
  background-image: url("/__BASE_URL__/images/icon_status_error.svg");
}

.unneeded {
  background-image: url("/__BASE_URL__/images/icon_status_no_assets.svg");
}

.largeStatusGrid {
  width: 100%;
}

.largeStatusRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 5px 0;
  border-bottom: 1px solid #696969;
}

.largeStatusItem {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 6px;
}

.largeStatusLabel {
  font-weight: 400;
}
