html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}
* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Aldrich";
  src: url("/fonts/Aldrich-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("/fonts/RobotoMono/RobotoMono-SemiBold.ttf");
  font-weight: 500;
  font-style: normal;
}

:root {
  --even-greyer: #abaaae;
  --extremely-grey: #898989;
  --lightest-grey: #4a4c57;
  --light-grey: #4c4e5b;
  --lighter-grey: #474955;
  --slightly-lighter-grey: #393641;
  --grey: #383a45;
  --dark-grey: #313131;
  --nearly-black: #2e2b34;

  --ruby: #950b5e;
  --orange: #ffa800;
  --mustard-green: #6e831a;
  --aqua: #12bfbf;
  --teal: #097597;
  --purple: #1a1e83;

  --radius: 3px;
}
