.mapboxgl-ctrl-logo {
  display: none !important;
}

.marker {
  background: url('data:image/svg+xml;utf8,<svg xmlns:x="http://ns.adobe.com/Extensibility/1.0/" xmlns:i="http://ns.adobe.com/AdobeIllustrator/10.0/" xmlns:graph="http://ns.adobe.com/Graphs/1.0/" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 125" style="enable-background:new 0 0 100 100;" xml:space="preserve"><g fill="%23ffc000" stroke="white"><path d="M70.5,29.5c-1-1-2.7-1-3.8,0L50,46.2L33.3,29.5c-1-1-2.7-1-3.8,0c-1,1-1,2.7,0,3.8L46.2,50L29.5,66.7c-1,1-1,2.7,0,3.8     c0.5,0.5,1.2,0.8,1.9,0.8c0.7,0,1.4-0.3,1.9-0.8L50,53.8l16.7,16.7c0.5,0.5,1.2,0.8,1.9,0.8c0.7,0,1.4-0.3,1.9-0.8     c1-1,1-2.7,0-3.8L53.8,50l16.7-16.7C71.5,32.3,71.5,30.6,70.5,29.5z"/></g><g stroke="black" fill="%23ffc000"><path d="M50,2.5C23.8,2.5,2.5,23.8,2.5,50S23.8,97.5,50,97.5c26.2,0,47.5-21.3,47.5-47.5S76.2,2.5,50,2.5z M50,92.2     C26.7,92.2,7.8,73.3,7.8,50S26.7,7.8,50,7.8c23.3,0,42.2,18.9,42.2,42.2S73.3,92.2,50,92.2z"/></g></svg>')
    no-repeat center;
  background-size: 40px 40px;
  width: 50px;
  height: 50px;
}

.mapboxgl-ctrl-group button {
  background-color: #2b2a2d !important;
  border: 1px #dbc275 solid !important;
  border-radius: 4px !important;
  color: white !important;
}

.mapboxgl-ctrl-group button:hover {
  border-color: #ffc000 !important;
}

.mapboxgl-ctrl button.mapboxgl-ctrl-zoom-in .mapboxgl-ctrl-icon {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='29' height='29' viewBox='0 0 29 29' xmlns='http://www.w3.org/2000/svg' fill='white'%3E%3Cpath d='M14.5 8.5c-.75 0-1.5.75-1.5 1.5v3h-3c-.75 0-1.5.75-1.5 1.5S9.25 16 10 16h3v3c0 .75.75 1.5 1.5 1.5S16 19.75 16 19v-3h3c.75 0 1.5-.75 1.5-1.5S19.75 13 19 13h-3v-3c0-.75-.75-1.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
.mapboxgl-ctrl button.mapboxgl-ctrl-zoom-out .mapboxgl-ctrl-icon {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='29' height='29' viewBox='0 0 29 29' xmlns='http://www.w3.org/2000/svg' fill='white'%3E%3Cpath d='M10 13c-.75 0-1.5.75-1.5 1.5S9.25 16 10 16h9c.75 0 1.5-.75 1.5-1.5S19.75 13 19 13h-9z'/%3E%3C/svg%3E") !important;
}

.mapboxgl-ctrl button.mapboxgl-ctrl-compass .mapboxgl-ctrl-icon {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='29' height='29' viewBox='0 0 29 29' xmlns='http://www.w3.org/2000/svg' fill='white'%3E%3Cpath d='M10.5 14l4-8 4 8h-8z'/%3E%3Cpath d='M10.5 16l4 8 4-8h-8z' fill='white'/%3E%3C/svg%3E") !important;
}
