.button {
  padding: 6px 10px;
  align-items: center;
  border-radius: var(--radius);
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}

.grey {
  background: var(--grey);
  border: solid var(--grey);
  color: white;
}

.lightest-grey {
  background: var(--lightest-grey);
  border: solid var(--lightest-grey);
  color: white;
}
