.button {
  padding: 6px 10px;
  align-items: center;
  border-radius: var(--radius);
  font-size: 16px;
  cursor: pointer;
}

.grey {
  background: var(--grey);
  border: solid var(--grey);
  color: white;
}
