.button {
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}

.default {
  font-size: 16px;
  padding: 6px 10px;
}

.small {
  height: 27px;
  font-size: 14px;
}

.all {
  border-radius: var(--radius);
}

.grey {
  background: var(--grey);
  border: solid var(--grey);
  color: white;
}

.lightest-grey {
  background: var(--lightest-grey);
  border: solid var(--lightest-grey);
  color: white;
}
