.main {
  border-radius: var(--radius);
  cursor: pointer;
  user-select: none;
}

.verticalCenter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.white {
  background-color: white;
  color: var(--dark-grey);
}

.grey {
  background-color: var(--lightest-grey);
  color: white;
}

.label {
  display: flex;
  height: 40px;
  border-radius: var(--radius);
  justify-content: space-around;
}

.caret {
  padding-left: 3px;
  padding-right: 10px;
}

.modal {
  position: fixed;
  top: 50px;
}

.right {
  transform: rotate(270deg);
}

.left {
  transform: rotate(90deg);
}

.up {
  transform: rotate(180deg);
}

.down {
  transform: rotate(0deg);
}
