.main {
  border-radius: var(--radius);
  cursor: pointer;
  user-select: none;
}

.verticalCenter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.white {
  background-color: white;
  color: var(--dark-grey);
}

.grey {
  background-color: var(--lightest-grey);
  color: white;
}

.label {
  display: flex;
  height: 40px;
  border-radius: var(--radius);
  justify-content: space-around;
}

.caret {
  padding-left: 3px;
  padding-right: 10px;
}

.modal {
  position: fixed;
  top: 50px;
}

@keyframes rotate-up {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotateX(180deg);
  }
}

@keyframes rotate-down {
  0% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotate(0);
  }
}

.right {
  transform: rotate(270deg);
}

.left {
  transform: rotate(90deg);
}

.up {
  animation-name: rotate-up;
  animation-duration: 0.2s;
  transform: rotateX(180deg);
}

.down {
  animation-name: rotate-down;
  animation-duration: 0.2s;
  transform: rotate(0);
}
