.select {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25em;
}
.select select {
  font-family: "Inter", sans-serif;
  font-size: 1.1em;
  cursor: pointer;
  padding: 10px 15px;
  border: 1px solid #ffc000;
  border-radius: 5px;
  background: #2b2a2d;
  color: #ffc000;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.select select::-ms-expand {
  display: none;
}
.select select:hover,
.select select:focus {
  color: #ffc000;
  /* background: #656269; */
}
.select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.select_arrow {
  position: absolute;
  top: 16px;
  right: 16px;
  pointer-events: none;
  border-style: solid;
  border-width: 11px 7px 0px 8px;
  border-color: #7b7b7b transparent transparent transparent;
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
  border-top-color: #000000;
}
.select select:disabled ~ .select_arrow {
  border-top-color: #cccccc;
}
