.main {
  width: 100%;
  height: 100%;
  background-color: blue;
}

.header {
  display: flex;
  justify-content: start;
  height: 35px;
  background-color: var(--nearly-black);
  padding: 4px 6px;
}

.verticalCenter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.dropdown {
  width: 220px;
}
