.headerContainer {
  /*vertical-align: middle;*/
  display: flex;
  justify-content: space-between;
  background-color: #19181b;
  width: 100%;
}
.leftSection {
  display: flex;
}
.rightSection {
  display: flex;
}
.headerElementContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 7px;
  padding-right: 7px;
}
.headerTitle {
  font-size: 2.1rem;
}
.title {
  font-size: 1.2rem;
}

.crewItem {
  flex: 1;
  font-size: 0.8em;
  color: #9b9b9b;
  white-space: nowrap;
  padding: 2px;
}

.pet {
  flex: 1;
  font-size: 0.8em;
  color: #9b9b9b;
  white-space: nowrap;
  padding: 1px;
}
.petButton {
  font-size: 0.9em;
  font-weight: 300;
  line-height: 0.9rem;
  height: 100%;
  width: 100%;
  /* background-color: #656269; */
  background-color: #2b2a2d;
  border: #ffc000 solid 1px;
  color: white;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 0;
}
.petButton:hover {
  background-color: #ffc000;
  color: black;
}

.dateTimeSection {
  display: flex;
  flex-direction: row;
  border: #ffc000 solid 1px;
  border-radius: 4px;
}

.dateTimeField {
  font-size: 1em;
  font-weight: 300;
  padding: 10px;
  border-width: 0px;
  background-color: #2b2a2d;
  color: #ffc000;
  border-style: solid;
  text-align: center;
}
.dateTimeField:focus {
  outline: none;
}
.dateTimeField:invalid {
  color: #ff9b9b;
}

.jumpButton {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 300;
  height: 100%;
  background-color: #2b2a2d;
  border: none;
  border-left: #ffc000 solid 1px;
  color: white;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 0;
}
.jumpButton:hover {
  background-color: #ffc000;
  color: black;
}

.version {
  float: right;
  text-align: right;
  font-size: 0.7rem;
  margin-right: 10px;
  line-height: 1.5em;
}

.svgCODALogo {
  width: 50px;
  height: 50px;
  background: url(/coda/images/logo_CODA.svg) no-repeat center;
  background-size: 50px 50px;
  margin-left: 0;
  margin-right: auto;
}
.svgNASALogo {
  width: 50px;
  height: 50px;
  background: url(/coda/images/logo_NASA.svg) no-repeat center;
  background-size: 50px 50px;
  margin-left: 0;
  margin-right: 0;
}
