.headerModalButton {
  background-color: #2b2a2d;
  padding: 13px;
  cursor: pointer;
  border-radius: 4px;
  border: #ffc000 solid 1px;
}
.headerModalButton:hover {
  border: 2px #ffc000 solid;
  padding: 12px;
}

.headerModalButton .svgShare {
  width: 15px;
  height: 15px;
  background: url(/images/share.svg) no-repeat center;
  background-size: 15px 15px;
  margin-left: 0;
  margin-right: 0;
}

.shareModalWrapper {
  position: absolute;
  background: #0f0f0f;
  border: 1px solid #5e92a6;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 20px;
  width: 40%;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  outline: none;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.8);
}

.modalHeadline {
  font-size: 1.5em;
  color: #5e92a6;
  text-align: left;
  padding-bottom: 10px;
}

.modalBody {
  font-size: 1em;
  box-sizing: border-box;
  float: left;
  padding: 10px;
  width: 100%;
}

.modalTextarea {
  font-size: 0.9em;
  box-sizing: border-box;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  overflow: hidden;
  position: relative;
  padding: 5px;
  color: #999999;
  background-color: #000;
  resize: none;
  width: 100%;
  height: 80px;
  margin: 0px;
  outline: none;
}

.copyURLButton {
  float: right;
  font-family: "Roboto", sans-serif;
  display: table;
  width: 100px;
  height: 20px;
  border-radius: 5px;
  padding: 5px;
  margin-top: 20px;
  border: #ffc000 solid 1px;
  background-color: #19181b;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 1);
  cursor: pointer;
}

.modalButtonText {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.closeButtonWrapper {
  position: absolute;
  top: -15px;
  width: 100%;
}

.closeButton {
  position: relative;
  float: right;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  padding: 5px;
  border: 1px solid #5e92a6;
  background-color: #19181b;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 1);
  cursor: pointer;
}
.closeSVG {
  position: absolute;
  top: 7px;
  left: 5px;
  width: 20px;
  height: 20px;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 125" style="enable-background:new 0 0 100 100;" xml:space="preserve"> <g fill="white"> <path d="M81.8,73.3L58.5,50l23.3-23.3c2.3-2.3,2.3-6.2,0-8.5c-2.3-2.3-6.2-2.3-8.5,0L50,41.5L26.7,18.2c-2.3-2.3-6.2-2.3-8.5,0  s-2.3,6.2,0,8.5L41.5,50L18.2,73.3c-2.3,2.3-2.3,6.2,0,8.5c2.3,2.3,6.2,2.3,8.5,0L50,58.5l23.3,23.3c2.3,2.3,6.2,2.3,8.5,0  C84.2,79.5,84.2,75.7,81.8,73.3z"/> </g> </svg>')
    no-repeat center;
  background-size: 25px 25px;
}
