.headerContainer {
  /*vertical-align: middle;*/
  display: flex;
  justify-content: space-between;
  background-color: #19181b;
  width: 100%;
}
.leftSection {
  display: flex;
}
.rightSection {
  display: flex;
}
.headerElementContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 7px;
  padding-right: 7px;
}
.headerTitle {
  font-size: 2.1rem;
}
.title {
  font-size: 1.2rem;
}

.crewItem {
  flex: 1;
  font-size: 0.8em;
  color: #9b9b9b;
  white-space: nowrap;
  padding: 1px;
}

.pet {
  flex: 1;
  font-size: 0.8em;
  color: #9b9b9b;
  white-space: nowrap;
}
.petButton {
  font-size: 0.9em;
  line-height: 0.9rem;
  height: 100%;
  width: 100%;
  background-color: #19181b;
  border: #ffc000 solid 1px;
  color: white; 
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 0;
}
.petButton:hover {
  background-color: #ffc000;
  color: black;  
}

.dateTimeSection {
  display: flex;
  flex-direction: row;
  border: #ffc000 solid 1px;
  border-radius: 6px;
}

.dateTimeField {
  padding: 10px;
  font-size: 1em;
  border-width: 0px;
  background-color: #2b2a2d;
  color: #ffc000;
  border-style: solid;
  text-align: center;
}
.idateTime:focus {
  outline: none;
}
.dateTime:invalid {
  color: #ff9b9b;
}

.jumpButton {
  font-size: 1rem;
  line-height: 1rem;
  height: 100%;
  background-color: #19181b;
  border: none;
  border-left: #ffc000 solid 1px;
  color: white; 
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 0;
}
.jumpButton:hover {  
  background-color: #ffc000;
  color: black;  
}

.version {
  float: right;
  text-align: right;
  font-size: 0.8rem;
  margin-right: 10px;
}

.select {
  position: relative;
  display: inline-block;
  width: 100%;
}
.select select {
  font-family: "Inter", sans-serif;
  font-size: 1.1em;
  cursor: pointer;
  padding: 10px 15px;
  border: 0px solid #000000;
  border-radius: 5px;
  background: #2b2a2d;
  color: #ffc000;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.select select::-ms-expand {
  display: none;
}
.select select:hover,
.select select:focus {
  color: #ffc000;
  background: #656269;
}
.select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.select_arrow {
  position: absolute;
  top: 16px;
  right: 16px;
  pointer-events: none;
  border-style: solid;
  border-width: 11px 7px 0px 8px;
  border-color: #7b7b7b transparent transparent transparent;
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
  border-top-color: #000000;
}
.select select:disabled ~ .select_arrow {
  border-top-color: #cccccc;
}

.svgCODALogo {
  width: 50px;
  height: 50px;
  background: url(/coda/images/logo_CODA.svg) no-repeat center;
  background-size: 50px 50px;
  margin-left: 0;
  margin-right: auto;
}
.svgNASALogo {
  width: 50px;
  height: 50px;
  background: url(/coda/images/logo_NASA.svg) no-repeat center;
  background-size: 50px 50px;
  margin-left: 0;
  margin-right: 0;
}
