.headerContainer {
  /*vertical-align: middle;*/
  display: flex;
}
.headerTitle {
  font-size: 2.1rem;
}
.title {
  font-size: 1.2rem;
}

.floatLeft {
  float: left;
}

.dateTime {
  background-color: #1e1e1e;
  color: #999999;
  border: 1px;
  margin: 3px;
  padding-right: 4px;
  padding-left: 4px;
  padding-top: 5px;
  padding-bottom: 4px;
  text-align: center;
  width: 92px;
}

.dateTime:invalid {
  color: #ff9b9b;
}

.littleTopButton {
  font-size: 1rem;
  background-color: #bdbdbd;
  border: none;
  color: black;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 2px;
  padding-left: 10px;
  /* margin-bottom: 5px; */
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  border-radius: 8px;
  /* cursor: default; */
}

.littleTopButton.hover {
  background-color: #008cba;
  color: white;
}

.svgCODALogo {
  width: 50px;
  height: 50px;
  background: url(/images/logo_CODA.svg) no-repeat center;
  background-size: 50px 50px;
  margin-left: 0;
  margin-right: auto;
}
.svgNASALogo {
  width: 50px;
  height: 50px;
  background: url(/images/logo_NASA.svg) no-repeat center;
  background-size: 50px 50px;
  margin-left: 0;
  margin-right: auto;
}
