.mediaPanel {
  flex: 1;
  margin-top:auto;
}

.photoContainer {
  width: 100%;
  height: 0px;
  position: relative;
  background-color: #19181b;
}
.photoContainer:hover .photoOverlay {
  visibility: visible;
}
.photoContainer .photoOverlay {
  visibility: hidden;
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 1;
}
.photoInfo {
  font-size: 0.9rem;
  color: #ffffff;
}
.photoContainer4by3 {
  padding-top: 75%;
}
.photoContainer16by9 {
  padding-top: 56.25%;
}

.photoPoster {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: no-repeat url("/coda/images/vintage_static.gif");
  background-size: cover;
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
}

.photoButton {
  font-size: 1.1rem;
  font-weight: 300;
  background-color: #2b2a2d;
  border: 1px #ffc000 solid;
  border-radius: 4px;
  color: white;
  padding: 6px 20px;
  margin-bottom: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.photoButton:hover {
  background-color: #ffc000;
  color: black;
}
.photoButton:hover span {
  background-color: #ffc000;
  color: black;
}

.photoHeaderText {
  font-size: 0.8em;
  white-space: nowrap;
}

.dimText {
  color: #9b9b9b;    
}