.container {
  position: fixed;
  bottom: 56px;
  left: -20px;
}

.playPause {
  display: table;
  width: 100px;
  height: 100px;
  border-radius: 50%;

  border: #ffc000 solid 3px;
  background-color: #19181b;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 1);
}

.playPauseBtn {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 60px;
  height: 60px;
  margin-left: 0;
  margin-right: 0;
  cursor: pointer;
}

.playSVG {
  background: url('data:image/svg+xml;utf8,<svg version="1.1" id="Play" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 20 20"  xml:space="preserve"> <g fill="white"> <path d="M15,10.001c0,0.299-0.305,0.514-0.305,0.514l-8.561,5.303C5.51,16.227,5,15.924,5,15.149V4.852 c0-0.777,0.51-1.078,1.135-0.67l8.561,5.305C14.695,9.487,15,9.702,15,10.001z" transform="translate(1 0)"/> </g> </svg>')
    no-repeat center;
  background-size: 60px 60px;
}
.pauseSVG {
  background: url('data:image/svg+xml;utf8,<svg version="1.1" id="Paus" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve"> <g fill="white"> <path d="M15,3h-2c-0.553,0-1,0.048-1,0.6V16.4c0,0.552,0.447,0.6,1,0.6h2c0.553,0,1-0.048,1-0.6V3.6C16,3.048,15.553,3,15,3z M7,3H5 C4.447,3,4,3.048,4,3.6V16.4C4,16.952,4.447,17,5,17h2c0.553,0,1-0.048,1-0.6V3.6C8,3.048,7.553,3,7,3z"/> </g> </svg>')
    no-repeat center;
  background-size: 50px 50px;
}
