.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  bottom: 0;
  left: 0;
  transition: background-color 0.5s;
  height: 24px;
  color: white;
  background-color: #19181b;
}

.container > span {
  display: inline-block;
}

.noError {
  background-color: darkgreen;
}

.error {
  background-color: darkred;
}

.unneeded {
  color: gray;
}

.stale {
  background-color: rgb(150, 82, 0);
}

.playPause {
  align-self: flex-start;
  letter-spacing: -3px;
}

.statusText {
  font-size: 1em;
  font-weight: 100;
  margin-top: auto;
  margin-bottom: auto;
  font-family: "Ubuntu Mono", sans-serif;
}

.spinner:after {
  content: "";
  animation-name: spin;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

/* ┤ ┘ ┴ └ ├ ┌ ┬ ┐ */
/* ⠂⠄⡀⢀⠠⠐⠈ */
/* ⣾⣽⣻⢿⡿⣟⣯⣷ */
/* 
@keyframes spin {
  0% {
    content: "┤";
  }
  14.3% {
    content: "┘";
  }
  28.5% {
    content: "┴";
  }
  42.9% {
    content: "└";
  }
  57.1% {
    content: "├";
  }
  71.4% {
    content: "┌";
  }
  85.7% {
    content: "┬";
  }
  100% {
    content: "┐";
  }
} */

@keyframes spin {
  0% {
    content: "◐";
  }
  25% {
    content: "◓";
  }
  50% {
    content: "◑";
  }
  75% {
    content: "◒";
  }
  100% {
    content: "◒";
  }
}
