.container {
  display: flex;
}

.mediaPanel {
  flex: 1;
}

.foo {
  flex: 1;
}

.player {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.playerPoster {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.playerPosterNovid {
  background: no-repeat url("/coda/images/vintage_static.gif");
  background-size: cover;
}
.playerPosterBuffering {
  background: no-repeat url("/coda/images/vintage_loading.gif");
  background-size: cover;
}
.playerPoster {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.IOError {
  /* position: absolute;
  top: 60%;
  left: 26%; */
  display: none;
  background-color: red;
  margin: 0 auto;
  width: 13em;
  margin-top: 25%;
  color: #dddddd;
  padding: 10px;
  border: 2px solid;
  border-radius: 10px;
  font-size: 2em;
}

.vidContainer {
  width: 100%;
  height: 0px;
  position: relative;
  background-color: #19181b;
}
.vidContainer:hover .vidOverlay {
  visibility: visible;
}

.vidContainer4by3 {
  padding-top: 75%;
}
.vidContainer16by9 {
  padding-top: 56.25%;
}

.vidTitle {
  font-size: 0.9rem;
  color: #999999;
}
.debugText {
  color: #999999;
}

.vidButton {
  font-size: 1.1rem;
  font-weight: 300;
  background-color: #2b2a2d;
  border: none;
  border-top: 1px #ffc000 solid;
  border-bottom: 1px #ffc000 solid;
  color: #656269;
  padding: 6px 20px;
  margin-bottom: 5px;
  border-right: #bdbdbd solid 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.vidButton.active {
  color: white;
}
.vidButton.active:hover {
  background-color: #ffc000;
  color: black;
}
.vidButton.selected {
  background-color: #ffc000;
  color: black;
}
.vidButton:first-of-type {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-left: 1px #ffc000 solid;
}
.vidButton:last-of-type {
  border-right: 1px #ffc000 solid;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.vidContainer .hidden {
  display: none;
}

.vidContainer .vidOverlay {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 85%;
  width: 100%;
  z-index: 1;  
  box-sizing: border-box;
  padding: 40px;    
  outline: none;
}

.overlayContainer {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 20px;    
  background: rgb(15, 15, 15, 0.5);
  /* border: 2px solid #5e92a6; */
  border: 2px solid #ffc000;
  border-radius: 15px;
}

.overlayHeadline {
  font-size: 1.5em;
  color: #ffc000;
  text-align: left;
  padding-bottom: 10px;
}

.overlayBody {
  font-size: 1em;
  box-sizing: border-box;
  float: left;
  padding: 10px;
  width: 100%;
}

.overlayTextarea {
  font-size: 1.1em;
  box-sizing: border-box;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  overflow: hidden;
  position: relative;
  padding: 5px;
  color: #999999;
  background-color: #000;
  resize: none;
  width: 100%;
  margin: 0px;
  outline: none;
}

.copyURLButton {
  float: right;
  font-family: "Roboto", sans-serif;
  display: table;
  width: 100px;
  height: 20px;
  border-radius: 5px;
  padding: 5px;
  margin-top: 20px;
  border: #ffc000 solid 1px;
  background-color: #19181b;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 1);
  cursor: pointer;
}

.overlayTable {
  width: 100%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  border-collapse: collapse;
  border-style: hidden; /* hide standard table (collapsed) border */
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);/* this draws the table border  */ 
}

.overlayTable a {
  text-decoration: underline;
}

.overlayTable tr:nth-child(n+2) td{
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  
}

.overlayTable td{
  vertical-align:top;
  font-weight: 200;  
  padding: 8px;
}
.overlayTable td:first-child{
  font-weight: 400;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  white-space: nowrap;
}

.overlayTable .digiValue {
  font-family: Ubuntu Mono;
  font-size: 1.1em;
}


.modalButtonText {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.svgShare {
  width: 20px;
  height: 20px;
  background: url(/coda/images/share.svg) no-repeat center;
  background-size: 20px 20px;
  margin-left: 0;
  margin-right: 0;
}

.soundBtnOutline {
  float: left;
  width: 32px;
  height: 28px;
  border-radius: 4px;
  padding: 2px 3px;
  margin-right: 5px;
  border: #ffc000 solid 1.5px;
  background-color: #2b2a2d;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 1);
  cursor: pointer;
}

.soundBtn {
  width: 32px;
  height: 28px;
  background-color: #656269;
  border: none;
  color: #3e3b44;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.soundBtn.unmute {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" version="1.1" x="0px" y="0px"><g fill="white"><path d="M46.2925217,11.9435433 L25.5506087,34.8333091 L5.67530435,34.8333091 C1.40486957,34.8333091 0,37.3793961 0,39.804279 L0,59.4175232 C0,61.8424061 1.40486957,64.9001988 5.67530435,64.9001988 L25.648,64.9001988 L46.3850435,88.1488944 C47.2883478,88.6642121 48.2963478,88.9471553 49.3055652,88.9471553 C50.3135652,88.9471553 51.1413913,88.7003325 52.0434783,88.1838108 C53.8513043,87.1519713 54.7826087,85.2580583 54.7826087,83.1919713 L54.7826087,16.6416035 C54.7826087,14.5767205 53.8513043,12.6695633 52.0434783,11.6377239 C50.2356522,10.6058844 48.1015652,10.9117038 46.2925217,11.9435433 Z"></path><path d="M72.1657891,67.2665075 C81.3247588,57.9650211 81.3248782,42.8373859 72.1665445,33.5365445 C70.6755746,32.023769 68.2534747,32.0237885 66.7642475,33.5366542 C65.2821456,35.0404316 65.2821456,37.4742899 66.7642475,38.9799173 C72.9610349,45.2750663 72.9610241,55.5273102 66.7641756,61.823813 C65.2820291,63.3276355 65.2821184,65.7618265 66.7646788,67.2660694 C67.4832783,67.9960755 68.4510709,68.4006857 69.46545,68.4006857 C70.4780475,68.4006857 71.4460109,67.9959142 72.1657891,67.2665075 Z"></path><path d="M94.33175,50.4018286 C94.33175,41.3673576 90.8614181,32.8635621 84.563275,26.4668612 C83.0743365,24.9524279 80.6512228,24.9525201 79.1618666,26.467378 C77.6800473,27.9708677 77.6802002,30.4050588 79.1627288,31.9092694 C84.0293482,36.853137 86.70765,43.4169656 86.70765,50.4018286 C86.70765,57.3847289 84.0278528,63.9519887 79.1623913,68.8933589 C77.6802039,70.3972231 77.6801873,72.8310815 79.1622975,74.3367173 C79.8828726,75.0669326 80.8508099,75.4717714 81.8635,75.4717714 C82.8775848,75.4717714 83.8472862,75.0659469 84.5642168,74.3358381 C90.8614965,67.9386027 94.33175,59.4348198 94.33175,50.4018286 Z"></path></g></svg>')
    no-repeat center;
  background-size: 25px 25px;
}
.soundBtn.mute {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" version="1.1" x="0px" y="0px"><g fill="white"><path d="M46.2925217,11.9435433 L25.5506087,34.8333091 L5.67530435,34.8333091 C1.40486957,34.8333091 0,37.3793961 0,39.804279 L0,59.4175232 C0,61.8424061 1.40486957,64.9001988 5.67530435,64.9001988 L25.648,64.9001988 L46.3850435,88.1488944 C47.2883478,88.6642121 48.2963478,88.9471553 49.3055652,88.9471553 C50.3135652,88.9471553 51.1413913,88.7003325 52.0434783,88.1838108 C53.8513043,87.1519713 54.7826087,85.2580583 54.7826087,83.1919713 L54.7826087,16.6416035 C54.7826087,14.5767205 53.8513043,12.6695633 52.0434783,11.6377239 C50.2356522,10.6058844 48.1015652,10.9117038 46.2925217,11.9435433 Z"></path><path d="M98.8756187,38.9394563 C100.277382,37.5426636 100.277382,35.281451 98.8756187,33.8860304 C97.4724769,32.4906097 95.2009861,32.4906097 93.7992227,33.8860304 L82.9065907,43.353486 L72.0167153,33.8860304 C70.6149519,32.4906097 68.3420827,32.4906097 66.9403193,33.8860304 C65.5371775,35.281451 65.5371775,37.5426636 66.9403193,38.9394563 L76.4532411,49.780379 L66.9403193,60.6171855 C65.5371775,62.0139782 65.5371775,64.2751908 66.9403193,65.6719835 C67.6418901,66.3690078 68.5598591,66.718892 69.4792065,66.718892 C70.3971754,66.718892 71.3165228,66.3690078 72.0167153,65.6719835 L82.9065907,56.2045279 L93.7992227,65.6719835 C94.4994152,66.3690078 95.4173842,66.718892 96.3367315,66.718892 C97.2547005,66.718892 98.1740478,66.3690078 98.8756187,65.6719835 C100.277382,64.2751908 100.277382,62.0139782 98.8756187,60.6171855 L89.3626969,49.780379 L98.8756187,38.9394563 Z"></path></g></svg>')
    no-repeat center;
  background-size: 25px 25px;
}
