.main {
  width: 100%;
  height: 100%;
  background-color: black;
}

.controls {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.selections {
  display: flex;
  /* justify-content: flex-start; */
  /* width: 115px; */
}

.dlButton {
}

.dlLabel {
  width: 22px;
}

.dlButton:not(:last-of-type) {
  margin-right: 1px;
}
