.main {
  position: relative;
  height: 0;
  width: 100%;
  min-height: 100%;
  background-color: var(--nearly-black);
  overflow: auto;
}

.controls {
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin-left: auto;
}

.controlsLeft {
  display: flex;
}

.durationItemsContainer {
  display: flex;
  margin-left: 3px;
}

.verticalCenter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.rightButtons {
  display: flex;
  align-items: center;
}

.rightButtons > *:not(:last-of-type) {
  margin-right: 5px;
}

.selectContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.selectContainerWide {
  width: 150px;
}
.selectContainerNarrow {
  width: 70px;
}

.selectContainer select {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 15px;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
  height: 27px;
  border: none;
  border-radius: var(--radius);
  color: white;
  background-color: var(--lightest-grey);
  appearance: none;
  text-overflow: ellipsis;
  outline: 0;
}
.selectContainer select::-ms-expand {
  display: none;
}
.selectContainer select:hover,
.selectContainer select:focus {
  outline: 0;
}
.selectContainer select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.select_arrow {
  position: absolute;
  pointer-events: none;
  top: 3px;
  right: 6px;
}

.selectActive {
  background-color: var(--even-greyer);
}

.dlLabel {
  font-weight: 400;
  font-size: 15px;
  padding-left: 8px;
}
