.main {
  background-image: var(--homepage-background);
  background-color: black;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
}

.container {
  background-color: var(--grey);
  border-radius: var(--panelRadius);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  min-height: 250px;
}

.description {
  line-height: 1.1em;
  text-align: right;
  width: 370px;
}

.description > p {
  color: var(--even-greyer);
}

.strong {
  line-height: 1.7em;
  font-weight: 600;
  color: white;
}

.logo {
  height: 55px;
  display: flex;
  justify-content: right;
}

.verticalCenter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.meatball {
  height: 55px;
}

.wordMark {
  font-family: Aldrich, sans-serif;
  font-weight: 400;
  font-size: 40px;
}

.sources {
  margin-left: 1em;
  width: 220px;
}

.sourcesPanel {
  background-color: var(--light-grey);
  border-radius: var(--panelRadius);
  padding: 16px 5px 5px 5px;
}

.sourcesHeader {
  color: rgb(255 255 255 / 40%);
  padding-left: 11px;
  padding-bottom: 8px;
  border-bottom: 1px solid rgb(255 255 255 / 20%);
}

.ul {
  margin: 0;
  margin-top: 5px;
  padding: 0;
}

.li {
  text-decoration: none;
  list-style: none;
  line-height: 40px;
  margin-left: 0;
  padding-left: 11px;
  cursor: pointer;
}

.li:hover {
  background-color: var(--grey);
  border-radius: var(--panelRadius);
}

.li > * {
  display: inline-block;
  text-decoration: none;
  width: 100%;
}

.disabled {
  color: var(--extremely-grey);
  cursor: pointer;
}
