.controls {
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin-left: auto;
}

.controlsLeft {
  display: flex;
}

.verticalCenter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.rightButtons {
  display: flex;
}

.rightButtons > *:not(:last-of-type) {
  margin-right: 5px;
}

/* v1 styles  */

.mediaPanel {
  width: 100%;
  height: 100%;
}

.photoContainer {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: var(--nearly-black);
  object-fit: contain;
}
.photoOverlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  box-sizing: border-box;
  padding: 20px;
  outline: none;
  overflow-y: auto;
}

.overlayTable {
  width: 100%;
  font-size: 0.9em;
  background: rgb(15 15 15 / 80%);
  border: 2px solid #eeeeee;
  border-radius: 10px;
  border-spacing: 0;
}

.overlayTable a {
  text-decoration: underline;
}

.overlayTable tr {
  border-bottom: 2px solid rgb(150 150 150 / 50%);
}

.overlayTable td {
  display: table-cell;
  border-collapse: collapse;
  vertical-align: top;
  font-weight: 200;
  padding: 5px;
  border-bottom: 2px solid rgb(150 150 150 / 50%);
}

.overlayTable td:first-child {
  text-align: right;
  width: 40px;
  font-weight: 400;
  white-space: nowrap;
  border-right: 2px solid rgb(150 150 150 / 50%);
}
.overlayTable tr:last-child td {
  border-bottom: none;
}

.overlayTable .digiValue {
  font-family: "Ubuntu Mono", monospace;
  font-size: 1em;
  white-space: pre-wrap;
  word-break: break-all;
}

.photoPoster {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.photoPoster::before {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background: center / contain no-repeat url("/images/patch_fod_1400_8bit.png");
  background-size: 50%;
  opacity: 0.4;
}

.photoPosterFilter {
  width: 100%;
  height: 100%;
  position: absolute;
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
}
.photoLink {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
}

.photoHeaderText {
  font-family: "Roboto Mono", monospace;
  font-size: 0.8em;
  color: var(--even-greyer);
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.overlayVisible {
  display: block;
}
