.main {
  background-color: var(--slightly-lighter-grey);
  width: 263px;
  height: 240px;
  border-radius: var(--radius);
  overflow-y: auto;
  font-size: 16px;
  line-height: 18px;
  cursor: default;
}

.top {
  display: flex;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.4);
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  padding: 15px 15px;
}

.close {
  cursor: pointer;
}

.option {
  height: 28px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 15px 15px;
}

.option:hover {
  background-color: var(--extremely-grey);
}
