.main {
  width: 200px;
  border-radius: var(--radius);
  background-color: var(--nearly-black);
  text-transform: uppercase;
  font-size: 12px;
  border: 1px solid var(--dark-grey);
}

.item {
  display: flex;
  align-items: center;
  padding: 0;
}

.option {
  height: 24px;
  cursor: pointer;
  font-size: 12px;
  padding-left: 8px;
  display: flex;
  align-items: center;
}

.option:not(:last-of-type) {
  border-bottom: 1px solid var(--dark-grey);
}

.option:hover {
  background-color: var(--grey);
}

.icon {
  display: flex;
  align-items: center;
  margin-right: 6px;
  font-size: 11px;
}

.noneIcon {
  display: none;
}

.icon > * {
  display: block;
}

.verticalCenter {
  display: flex;
  align-items: center;
}

.closeOption {
  border-top: 1px solid var(--dark-grey);
  margin-top: 2px;
}

.closeLabel {
  color: var(--extremely-grey);
  font-size: 11px;
}
