.main {
  width: 200px;
  border-radius: var(--radius);
  background-color: var(--nearly-black);
  text-transform: uppercase;
  font-size: 12px;
  border: 1px solid var(--dark-grey);
}

.item {
  display: flex;
  align-items: center;
  padding: 0;
}

.option {
  height: 24px;
  cursor: pointer;
  font-size: 12px;
  padding-left: 8px;
  display: flex;
  align-items: center;
}

.option:not(:last-of-type) {
  border-bottom: 1px solid var(--dark-grey);
}

.option:hover {
  background-color: var(--grey);
}

.icon {
  display: flex;
  align-items: center;
  margin-right: 6px;
  font-size: 11px;
}

.noneIcon {
  display: none;
}

.icon > * {
  display: block;
}

.verticalCenter {
  display: flex;
  align-items: center;
}

.teal {
  color: var(--teal);
}

.ruby {
  color: var(--ruby);
}

.purple {
  color: var(--purple);
}

.grey {
  color: var(--extremely-grey);
}

.mustardGreen {
  color: var(--mustard-green);
}

.burntOrange {
  color: var(--burnt-orange);
}

.burntUmber {
  color: var(--burnt-umber);
}

.closeOption {
  border-top: 1px solid var(--dark-grey);
  color: #cc6666;
  font-size: 11px;
}

.closeOption:hover {
  background-color: #4a2020;
}

.closeLabel {
  padding-left: 2px;
}
