* {
  box-sizing: border-box;
}

:root {
  --greyish: #e0e0e0;
  --even-greyer: #abaaae;
  --extremely-grey: #898989;
  --lightest-grey: #4a4c57;
  --more-light-grey: #616574;
  --light-grey: #4c4e5b;
  --lighter-grey: #474955;
  --slightly-lighter-grey: #393641;
  --grey: #383a45;
  --dark-grey: #313131;
  --very-dark-grey: #242424;
  --nearly-black: #19181b;

  --ruby: #950b5e;
  --orange: #ffa800;
  --mustard-green: #6e831a;
  --aqua: #12bfbf;
  --teal: #097597;
  --purple: #1a1e83;
  --burnt-orange: #cc5500;
  --burnt-umber: #6e260e;
  --highlight-red: #f40000;

  --radius: 3px;
  --panelRadius: 6px;

  --homepage-background: "url(/images/earth_moon.jpg)"; /* Handled in ./pages/index.tsx */
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #eeeeee #eeeeee10;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: #424242;
}

*::-webkit-scrollbar-thumb {
  background-color: #eeeeee;
  border-radius: 2px;
  border: 1px none #eeeeee10;
}
