.formItem {
  width: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.formItem label {
  text-align: right;
}

.formItem textarea {
  height: 200px;
}

.listItem {
  display: grid;
  grid-template-columns: 220px 1fr;
}
